@model IEnumerable<AngularApp1.Server.Models.IndianaSchool>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Principal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleticDirector)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Principal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AthleticDirector)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SchoolName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SchoolName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SchoolName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
